<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="images/readyUpLogo2.png" width="150" height="" class="d-inline-block align-top" id="logo" alt="">
  </a>
  <div class="dropdown text-center">
    <button class="btn btn-secondary-login dropdown-toggle" type="button" id="loginDropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="images/button_login.png" height="30" />  Login
    </button>
    <div class="dropdown-menu">
      <form class="px-4 py-3" method="POST" action="/login">
        <div class="form-group">
          <label for="username">Username (gamer tag)</label>
          <input type="text" class="form-control" placeholder="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Ready Up</button>
      </form>
    </div>
  </div>
  <div class="dropdown text-center">
    <button class="btn btn-secondary-create dropdown-toggle" type="button" id="createDropdown" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="images/button_create.png" height="30" />  Create Account
    </button>
    <div class="dropdown-menu">
      <form class="px-4 py-3" method="POST" action="/newuser">
        <div class="form-group">
          <label for="username">Username (gamer tag)</label>
          <input type="text" class="form-control" placeholder="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Ready Up</button>
      </form>
    </div>
  </div>
  <a href="/info"><button class="btn btn-secondary-info"> <img src="images/button_info.png" height="30" /> Contact us</button></a>
  <a href="/logout"><button class="btn btn-secondary-logout"> <img src="images/button_logout.png" height="30" />  Log
      Out</button></a>
</nav>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="js/bootstrap.js"></script>