.list-group-item {
  line-height: 2.5;
}

body {
  background: url(../images/plainBG.png) no-repeat 50% 80% fixed;
  background-size: cover;
}

.error_background {
  background: url(../images/error404.png) no-repeat 50% 50% fixed;
  background-size: cover;
}

.navBtn {
  background: none;
  border: none;
}


.btn-success{
  background: #1b98ff;
  color: black;
}

.btn-success:hover{
  background: #1bff7e;
  color: black;
}

.dropdown-menu {
  width: 300px !important;
  height: 250px !important;
}

.player {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
}

.codIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}


#rlSection {
  background: url(../images/rlbg.jpg);
  background-size: cover;
  min-height: 400px;
}
.rlHeader {
  background: #0366c5;
}

#codSection {
  background: url(../images/codbg.jpg);
  background-size: cover;
  min-height: 400px;
}
.codHeader {
  background: rgb(33,37,41);
}

#fortniteSection {
  background: url(../images/fortnitebg.png);
  background-size: cover;
  min-height: 400px;
}
.fortniteHeader {
  background: #1a2f6e;
}

.customFont {
  font-family: 'Orbitron', sans-serif;
}

.main_image {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
}

.main-section {
  padding-top: 40px;
  float: left;
}

.discord {
  padding-top: 40px;
  margin: auto;
}

.contact {
  color:#2EB781;
  font-weight: bold;
}

